  html{
      font-family: Avenir,
      Helvetica,
      Arial,
      sans-serif;
  }

  * {
      box-sizing: border-box;
  }

  a {
      text-decoration: none;
  }

  img {
      width: 100%;
  }

  ul {
      list-style: none;
  }